<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    ## Redirect to SSL
    # RewriteCond %{SERVER_PORT} 80
    # RewriteRule ^(.*)$ https://sandofvega.com/$1 [R,L]

    ## Redirect to non-www
    # RewriteCond %{HTTP_HOST} ^www\.sandofvega\.com [NC]
    # RewriteRule ^(.*)$ https://sandofvega.com/$1 [L,R=301]

    ## Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    ## Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    ## Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    ## One week cache for assets
    # <filesMatch ".(css|js|jpg|jpeg|png|gif|ico)$">
    # Header set Cache-Control "max-age=604800, public"
    # </filesMatch>

    ## Maintenance Mode (change REMOTE_ADDR to your public IP)
    # RewriteCond %{REQUEST_URI} !maintenance.html
    # RewriteCond %{REMOTE_ADDR} !35.142.63.54
    # RewriteRule ^.*$ maintenance.html
</IfModule>
