$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-email: "\e159";
$icon-place: "\e8b4";
$icon-music: "\f001";
$icon-heart: "\f004";
$icon-film: "\f008";
$icon-camera: "\f030";
$icon-plane: "\f072";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-github: "\f09b";
$icon-google-plus: "\f0d5";
$icon-envelope: "\f0e0";
$icon-linkedin: "\f0e1";
$icon-suitcase: "\f0f2";
$icon-angle-up: "\f106";
$icon-gamepad: "\f11b";
$icon-skype: "\f17e";
$icon-skill: "\f1de";
$icon-football: "\f1e3";
$icon-stackoverflow: "\ead0";

